@use 'var' as *;

@import '@yin-jinlong/h-ui/style/src/base';
@import '@yin-jinlong/h-ui/style/src/base-dark';
@import '@yin-jinlong/h-ui/style/src/button';
@import '@yin-jinlong/h-ui/style/src/check-box';
@import '@yin-jinlong/h-ui/style/src/card';

::view-transition-old(*),
::view-transition-new(*) {
  animation      : none;
  mix-blend-mode : normal;
}

::view-transition-old(root) {
  z-index : 1;
}

::view-transition-new(root) {
  z-index : 2;
}

::view-transition-old(card) {
  z-index : 20;
}

::view-transition-new(card) {
  z-index   : 10;
}


html, body {
  height   : 100vh;
  overflow : hidden;
  width    : 100vw;
}
