/**
 * 主要颜色集
 */
$colors   : (
    'primary':#F6B33B,
    'sucsss':#6CE149
);

/**
 * 边距集
 */
$paddings : (
    'small': 5px,
    'normal': 10px,
    'large' : 15px,
    'xlarge': 20px,
    'xxl': 25px,
    'xxxl': 30px,
    '4xl': 35px,
);

/**
 * 圆角集
 */
$radius   : (
    'small': 5px,
    'normal': 10px,
    'large': 15px,
);
